@import '~office-ui-fabric-react/dist/sass/References.scss';

.todolistwebpart {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}

.centerMass {
  text-align: center;
  align-items: center;
}

.siteTheme {
  background-color: $ms-color-themePrimary;
  border-color: $ms-color-themePrimary;
  color: $ms-color-white;
}

.panelHeaderV2 {
  font-weight: 300;
  padding: 10px;
  margin: 1em 0em !important;
  font-size: 1.4em;
}

.awkwardSmtoMdHeader {
  @media screen and (min-width: 768px) {
    width: 50% !important;
  }
}
.awkwardSmtoMdStatus {
  @media screen and (min-width: 768px) {
    width: 50% !important;
    text-align: right !important;
  }
}
.awkwardMdtoLg1 {
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    width: 8.33% !important;
  }
}
.awkwardMdtoLg2 {
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    width: 16.66% !important;
  }
}
.awkwardMdtoLg3 {
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    width: 25% !important;
  }
}
.awkwardMdtoLg4 {
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    width: 33.33% !important;
  }
}
.awkwardMdtoLg5 {
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    width: 41.66% !important;
  }
}
.awkwardMdtoLg6 {
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    width: 50% !important;
  }
}
.awkwardMdtoLg7 {
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    width: 58.33% !important;
  }
}
.awkwardMdtoLg8 {
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    width: 66.66% !important;
  }
}
.awkwardMdtoLg9 {
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    width: 75% !important;
  }
}
.awkwardMdtoLg10 {
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    width: 83.33% !important;
  }
}
.awkwardMdtoLg11 {
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    width: 91.66% !important;
  }
}